<ion-navbar *navbar class="hide-border" style="-webkit-flex:inherit; flex:inherit;">

    <ion-buttons start left>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Glance</ion-title>

    <ion-buttons end right>
        <button (click)="onClickFilter()" [hidden]="true">
            <ion-icon name="search"></ion-icon>
        </button>
        <button (click)="onAddBoard()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>

<ion-toolbar style="-webkit-flex:none !important; flex:none !important;">
    <board-slider (select)="onSelectBoard($event)" [(boards)]="dashboard.boards" [(boardimages)]= "dashboard.boardimages"></board-slider>
</ion-toolbar>

<ion-content>

    <ion-card *ngFor="let notice of mynotices" (click)="onClickNotice(notice)" [hidden]="!isNoticeVisible(notice)">
        <ion-item>
            <h2>{{notice.title}}</h2>
        </ion-item>
        <ion-item>
            <span *ngFor="let noticetag of dashboard.tags[notice.id]">{{noticetag}}</span>
            <p item-right>{{stringDate}}</p>
        </ion-item>
    </ion-card>

</ion-content>

